{{ $len := len .Fields }}

import "database/sql"

func populate{{firstUpper .TypeName}}(row *sql.Row, in *{{.TypeName}}) {
	row.Scan({{range $index, $value := .Fields}}&in.{{$value.Name}}{{isNotLast $len $index ", "}}{{end}})
}